################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Acudir.Test
/Acudir.Test.Apis/bin
/Acudir.Test.Apis/obj
.env

# Build artifacts
[Bb]in/
[Oo]bj/

# VS/IDE
.vs/
*.user
*.suo
*.ide
*.log

# NuGet
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets
Application/bin/Debug/net6.0/
Application/obj/Debug/net6.0/
UnitTest/obj/
UnitTest/obj/project.nuget.cache
